<!DOCTYPE html>
<html>
  <head>
    <title>Traveler</title>
    <%= favicon_link_tag 'traveler.jpg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat' %>
    <%= stylesheet_link_tag 'https://unpkg.com/lemoncss/dist/lemon.min.css', 'data-turbolinks-track': 'false' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      
      <section class="dash-container">
        <nav class="dash-nav">
          <%= render 'layouts/links' %>
        </nav>
      </section>
      
      <section class="dash-content">
        <h1><%= "Welcome to your dashboard, #{current_user.email}" %></h1>
        <h3>Where would you like to begin your journey?</h3>
        <hr>
        <div class="journey-tiles">
            <%= link_to new_destination_path do %>
              <div class="tile">This div is clickable</div>
            <% end %>
            <%= link_to new_destination_path do %>
              <div class="tile">This div is clickable</div>
            <% end %>
            <%= link_to new_destination_path do %>
              <div class="tile">This div is clickable</div>
            <% end %>
        </div>
      </section>

      <footer class="dash-footer">
        
        <ul class="dash-footer-links">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </ul>

        <ul class="dash-footer-social">
          <li>BookFace</li>
          <li>Tweeter</li>
          <li>SnapCrap</li>
          <li>Instapoop</li>
        </ul>

      </footer>

  </body>
</html>
