<!DOCTYPE html>
<html>
  <head>
    <title>Traveler</title>
    <%= favicon_link_tag 'traveler.jpeg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      
    <div class="dash-container">
      <div class="side-nav">
        <%= render 'layouts/links' %>
      </div>

      <section class="dash-section">
      
      </section>
        
      <section class="dash-content">
        <h1><%= "Welcome to your dashboard, #{current_user.email}" %></h1>
      </section>
    </div>

  </body>
</html>
