<!DOCTYPE html>
<html>
  <head>
    <title>Traveler</title>
    <%= favicon_link_tag 'traveler.jpg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <section class="hero-image">
        
        <h1 id="welcome-text">Traveler</h1>

      <div class="hero-modal">
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn-primary"%><br>
        <%= link_to 'Sign In', new_user_session_path, class: "btn-primary" %>
      </div>
    </section>

  </body>
</html>