<h1>Albums#new</h1>

<%= form_for [@destination, @album] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :images %>
  <%= f.file_field :images, multiple: true %>
  <%= f.submit %>
<% end %>
