<section class="new-album-container">

  <div class="new-album-form container medium">
    <h1>Add a photo album for <span id="dest-title"><%= @destination.title %>!</span></h1>
      <%= form_for [@destination, @album] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :date %>
        <%= f.date_field :date %>
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true %>
      <%= f.submit %>
    <% end %>
  </div>
</section>
