
<section class="dest-form-container container medium">
  <%= form_for @destination do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.submit %>
  <% end %>
</section>