<div>
  <p><%= @destination.title %></p>
  <p><%= @destination.body %></p>
  
    <% @destination.albums.each do |album| %>
      <% if album.images.attached? %>
        <% album.images.each do |image| %>
          <%= image_tag(image, size: 400) %>
        <% end %>
      <% else %>
        <p><%= "There aren't any images in #{album.name}" %></p>
      <% end %>
    <% end %>
</div>

<%= link_to 'New Album', new_destination_album_path(@destination) %>
