<!DOCTYPE html>
<html> 
  <head>
    <title>Traveler</title>
    <%= favicon_link_tag 'traveler.jpeg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat' %>
    <%= stylesheet_link_tag 'https://unpkg.com/lemoncss/dist/lemon.min.css', 'data-turbolinks-track': 'false' %>
    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <section class="devise-hero">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="devise-form container small">
        <%= yield %>
      </div>

    </section>
    
  </body>
</html>